/* Header */

header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    -webkit-box-shadow: 0px 4px 8px -1px rgba(0,0,0,0.68); 
    box-shadow: 0px 4px 8px -1px rgba(0,0,0,0.2);
    height: 60px;
    background-color: #faf9f9ee;
}

.branding{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #FFC008;
    height: 40px;
    padding: 10px 10px;
    border-radius: 4px;

    &-icon{
        font-size: 23px;
        color: #faf9f9ee;
    }
}



.icon-book{
   position: relative;
   font-size: 22px;
}

.icon-book__alertTrue{
    font-size: 10px;
}

.parent{
    position: relative;
}

.icon-book__alertFalse{
    font-size: 10px;
}

.icon-check__true{
    position: absolute;
    right: 11px;
    top: -9px;
    font-size: 12px;
    color: green;
    z-index: 1;

}

.icon-check__false{
    position: absolute;
    right: 5px;
    top: -9px;
    font-size: 12px;
    color: red;
    z-index: 1;
}

h1{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    padding: 20px 0;
    color: #faf9f9ee;
}