@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600&display=swap');

$white: hsl(0, 0%, 100%);
$light-gray: hsl(212, 45%, 89%);
$grayish-blue: hsl(220, 15%, 55%);
$dark-blue: hsl(218, 44%, 22%);


header,
main {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: normal;
    flex-direction: column;
  }

main{
  height: 100dvh;
  background: $light-gray;
}

body {
  text-align: -webkit-center;
  font-family: 'Outfit', sans-serif;
  font-style: normal;
  list-style-type: none;
  overflow-x: hidden;
  scrollbar-width: none; // Delete Scrollbar, Firefox
}

::-webkit-scrollbar { // Delete Scrollbar, Safari, Chrome, Edge
  display: none;
}

h2{
  font-size: 20px;
  font-weight: 500;
}